<div class="app-card">
  <app-common-header headerTitle="Instructions To Applicants" customMessage=""></app-common-header>
  <section>
    <div>
    Important: Please read the following instructions carefully before completing the on-line application form.
    </div>
    <br>
    <div>
      It is compulsory for the candidates to complete the on-line application form available at the UCSC website <a
      href="http://msc.scorelab.org" target="_blank">http://msc.scorelab.org</a>.  <strong>[Each applicant is allowed to submit only one on-line application form.]</strong>
    </div>
    <br>
    <div>
      <strong class="text-step">Step 1:</strong>
    </div>
    <div>
    The application processing fee of Rs. 2,500/- (Two Thousand Five Hundred Rupees only) can be paid online or at the UCSC Shroff Counter.
    </div>
    <br>
    <ul>
      <li>
        If you use the online mode you should follow the payment instructions given in the website and post only the printed copy of the application form after placing your signature.
      </li>
      <li>
        Those who are unable to pay online, shall pay in cash to the Shroff Counter at UCSC from 9.00 a.m. to 3.00 p.m. on working days. The UCSC copy of the paying-in slip should be sent along with the printed copy of the signed application form. <strong>Please note Cheques/ Money orders will not be accepted.</strong>
      </li>
    </ul>
    <br>
    <div>
    <strong class="text-step">Step 2:</strong>
    </div>
    <div>
    It is compulsory to submit the on-line application on or before <strong>16th November 2017.</strong>
    </div>
    <br>
    <br>
    <div>
    <strong class="text-step">Step 3:</strong>
    </div>
    <ol>
        <li>
          The printed copy of the on-line application form,
        </li>
      <li>
          The payment slip, and
      </li>
      <li>
          A certified copy of the degree certificate/ academic transcript,
      </li>
    </ol>
    <br>
    <br>
    <div>
    Should be sent <strong class="text-step">only</strong> by registered post to the Senior Assistant Registrar/ Postgraduate Division, UCSC, No. 35, Reid Avenue, Colombo 07, <strong class="text-step">on or before 16th November 2017.</strong>
      <strong>Please indicate the title “Masters Programmes 2017/2018” on the top left corner of the envelope.</strong>
    </div>
    <br>
    <br>
    <div>
    <strong class="text-step">Step 4:</strong>
    </div>
    <div>
    Those who have successfully completed the application process should download and print the Admission Card for the Selection Test from the UCSC website during the period from <strong class="text-step">8th December 2017 to 15th December 2017.</strong>
    </div>
    <br>
    <br>
    <div>
    <strong class="text-step">Step 5:</strong>
    </div>
    <div>
    The candidates are required to sit for the Masters Selection Test held on: <strong class="text-step">17th December 2017 (Sunday).</strong> You are required to produce the National ID or Passport together with attested Admission Card at the examination hall.
    </div>
    <br>
    <br>
    <div>
      <strong class="text-step">Step 6:</strong>
    </div>
    <div>
    Shortlisted candidates will be called for an interview.   <strong>Interviews will be held on 21st and 28th January 2018.</strong>
    </div>
    <br>
    <div>
    Inquiries regarding the Application Process and/or Selection Test should be made to the <strong>Senior Assistant Registrar / Postgraduate Division </strong> on 0112 589 123 / 0112 158 994 or msw@ucsc.cmb.ac.lk
    </div>
    <br>





  </section>



  <hr>
  <div>
  <button class="btn btn-success pull-right" type="submit" (click)="onNext()" >Next</button>
  </div>
  <div class="clearfix"></div>
  <br>
</div>
